@import url("../css/public.css");
.head {
  position: sticky;
  top: 0;
  box-shadow: 0px 1.647px 8.237px 0px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  background-color: #fff;
  z-index: 5;/*fgfhgrdgf*/
}
.head .logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.head .logo img {
  width: 27px;
}
.head .logo a {
  color: var(--maincolor);
}
.nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.head .nav a {
  color: var(--subcolor);
}
.head .nav .activ {
  font-weight: 900;
}
.auth {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.head .auth .login {
  border-radius: 4.119px;
  border: 0.412px solid #545be8;
  padding: 6px 30px;
  color: #545be8;
}
.head .auth .reges {
  border-radius: 4.119px;
  padding: 6px 30px;
  background-color: var(--maincolor);
  color: #fff;
}
@media (max-width: 992px) {
  .nav {
    display: none;
  }
  
}
/*start testomonial*/
.Testimonials
{
  text-align: center;
  padding:40px 0 ;
}
.Testimonials h2
{
  margin-bottom: 40px;
}
.Testimonials .row
{
  gap: 40px;
}
.Testimonial
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: calc((100% - 40px) / 2 );
  box-shadow: 0px 10px 8.237px 0px rgba(0, 0, 0, 0.4);
  padding: 18px 16px;
  position: relative;

}
.Testimonial::after
{
  content: "";
  border-top: 30px solid #e0dfdf67;
  border-right: 30px solid #e0dfdf67;
  border-bottom: 30px solid transparent;
  border-left: 30px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
}
.Testimonial .user-info
{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
}
.Testimonial .user-info img
{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
}
.Testimonial .user-data
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
}
.Testimonial .user-data span
{
  color: #969696;
  font-size: 10px;
  font-weight: 400;
}
.Testimonial .rating
{
  display: flex;
  flex-wrap: wrap;
  gap: 7px;

}
.Testimonial .rating img
{
  width: 20px;
  height: 20px;
}
.Testimonial  p
{
  color: #646464;
 
}

.footer {
  background: #393e46;
  color: #fff;
  padding: 50px 0;
}
.footer a {
  color: #fff;
}
.footer .row {
  gap: 40px;
}
.footer .footer-start,
.footer .footer-end {
  width: calc((100% - 40px) / 2);
}
.footer .footer-start {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
}
.footer .footer-start .logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.footer .footer-start .logo img {
  width: 35px;
}
.footer .footer-start .logo img {
  font-size: 14px;
}
.footer .footer-start p {
  color: #fff;
  font-size: 14px;
  font-weight: 200;
}
.footer .footer-start .icons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.footer .footer-start .icons img {
  border: 1px solid #fff;
  padding: 10px;
  width: 15px;
  height: 15px;
  box-sizing: content-box;
}
.footer .footer-end .row {
  justify-content: space-evenly;
  align-items: flex-start;
}
.footer .footer-end .footer-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}
.footer .footer-end .footer-item h2
{
  font-size: 15px;
}
.footer .footer-end .footer-item ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}
.footer .footer-end .footer-item ul a
{
  font-size: 10px;
}
