@import url("../css/public.css");
/*start nav*/
.head {
  position: sticky;
  top: 0;
  box-shadow: 0px 1.647px 8.237px 0px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  background-color: #fff;
  z-index: 5; /*fgfhgrdgf*/
}
.head .logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.head .logo img {
  width: 27px;
}
.head .logo a {
  color: var(--maincolor);
}
.nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.head .nav a {
  color: var(--subcolor);
}
.head .nav {
  --animation-delay: 10ms;
}
.head .nav .activ {
  font-weight: 900;
}
.bar-menu {
  display: none;
  width: 25px;
  height: 25px;
}
.auth {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  --animation-delay: 50ms;
}
.head .auth .login {
  border-radius: 4.119px;
  border: 0.412px solid #545be8;
  padding: 6px 30px;
  color: #545be8;
}
.head .auth .reges {
  border-radius: 4.119px;
  padding: 6px 30px;
  background-color: var(--maincolor);
  color: #fff;
}
@media (max-width: 992px) {
  .nav {
    display: none;
  }
  .bar-menu {
    display: block;
  }
  .auth {
    display: none;
  }
}
@media (max-width: 400px) {
  .head .container {
    width: calc(100% - 40px);
  }
}
/*end nav*/

/*Strat begin*/
.begin {
  padding: 40px 0;
  display: flex;
  background: #f5f5f5;
  flex-wrap: wrap;
  margin-top: 50px;
}
.begin .row {
  gap: 30px;
}
.begin-start {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 400px;
  gap: 15px;
  flex-grow: 1;
  --animation-delay: 200ms;
}
.begin-start .withSpan {
  color: var(--maincolor);
  font-weight: 200;
}
.begin-start .withSpan span:nth-child(2) {
  font-weight: 500;
}
.begin-start h2 {
  line-height: normal;
  font-size: 30px;
  max-width: 250px;
}
.begin-start .animatoin-blur span:nth-child(1) {
  --animation-delay: 10ms;
}
.begin-start .animatoin-blur span:nth-child(2) {
  --animation-delay: 100ms;
}
.begin-start .animatoin-blur span:nth-child(3) {
  --animation-delay: 300ms;
}
.begin-start .animatoin-blur span:nth-child(4) {
  --animation-delay: 700ms;
}
.begin-start .animatoin-blur span:nth-child(5) {
  --animation-delay: 800ms;
}
.begin-start .animatoin-blur span:nth-child(6) {
  --animation-delay: 900ms;
}
.begin-start .animatoin-blur span:nth-child(7) {
  --animation-delay: 1000ms;
}

.begin-start h2 span:nth-child(5) {
  color: var(--maincolor);
}

.begin-start .desc {
  color: #646464;
  font-size: 15px;
}
.begin-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}
.begin-start .begin-btn .reg {
  background-color: var(--maincolor);
  color: #fff;
  padding: 10px 30px;
  border-radius: 10px;
}
.begin-start .begin-btn .vid {
  color: #000;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.begin-end {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-grow: 1;
}
.begin-end img {
  width: 100%;  
  filter: brightness(80%);
}
/*end begin*/

/*Start giv*/
.giv {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  align-items: flex-start;
  justify-content: flex-start;
}

.giv .row {
  gap: 20px;
  align-items: flex-end;
  padding: 40px 0;
}
.giv .giv-desc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 150px;
  flex-grow: 1;
  gap: 10px;
  padding: 80px 0;
}
.giv .giv-desc span {
  color: var(--maincolor);
  font-size: 15px;
}
.giv .giv-desc p {
  color: #969696;
  font-size: 10px;
}
.giv .giv-info {
  background-color: #545be8;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
  padding: 50px 10px;
  color: #fff;
  flex-basis: 150px;
  flex-grow: 1;
}
.giv .giv-info svg {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  padding: 10px;
}
.giv .giv-info p {
  font-size: 10px;
  font-weight: 300;
}
.giv-desc,
.giv-info {
  width: calc((100% - 20px) / 5);
}
.giv .rows {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  color: #fff;
  justify-content: flex-end;
}
.giv .rows .left-row,
.giv .rows .right-row {
  background-color: #f0c932;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
/*end giv*/
/*start selcted course*/
.selct-course {
  padding: 80px 0;
  background: linear-gradient(180deg, #545be8 0%, #272db0 100%);
}
.selct-course .row {
  justify-content: space-around;
}
.selct-course .selct-img {
  position: relative;
}
.selct-course .selct-img img {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.selct-course .selct-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 15px;
  flex-basis: 400px;
  color: #fff;
}
.selct-course .selct-info .sel {
  color: #f0c932;
  font-size: 10px;
}
.selct-course .selct-info h3 {
  max-width: 200px;
}
.selct-course .selct-info p {
  color: #ddd;
  font-size: 12px;
}
.selct-course .selct-info .info-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  color: #f0c932;
}
.selct-course .selct-info .info-details .number {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.selct-course .selct-info .info-details .number span:first-of-type {
  font-weight: 800;
}
/*end selected course*/
/*Start courses*/
.courses {
  padding: 40px 0;
  display: flex;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.courses .row {
  align-items: flex-start;
  gap: 30px;
}

.course-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: calc((100% - 30px) / 2);
}
.course-item {
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.course-image {
  position: relative;
}
.course-item img {
  width: 100%;
  filter: brightness(60%);
  border-radius: 10px 10px 0 0;
}
.course-item .course-sale {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
  padding: 15px 0;
}
.course-item .course-sale span:first-child {
  background-color: var(--maincolor);
  padding: 15px;
  font-weight: 600;
}
.course-item .course-sale span:last-of-type {
  align-self: flex-end;
  padding-right: 15px;
}
.course-item,
.course-descrption {
  width: calc((100% - 30px) / 2);
}
.course-item .course-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}
.course-item .course-info .rowO {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.course-item .course-info .rowS {
  color: #969696;
  display: flex;
  align-content: center;
  gap: 20px;
}
.course-item .course-info .rowS h3,
.course-item .course-info .rowS span {
  font-size: 15px;
}
.course-descrption {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.course-descrption span {
  color: var(--maincolor);
}
.course-descrption h2 {
  line-height: 50px;
}
.course-descrption p {
  color: #969696;
  font-size: 9px;
}
.course-descrption a {
  background-color: var(--maincolor);
  color: #fff;
  width: fit-content;
  padding: 10px 30px;
  border-radius: 10px;
}
@media (max-width: 1100px) {
  .course-item .course-sale span:first-child,
  .course-item .course-sale span:last-of-type {
    padding: 5px;
    font-size: 10px;
  }
  .course-item .course-sale {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .course-descrption {
    flex-grow: 1;
  }
  .course-items {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  @media (max-width: 430px) {
    .course-items {
      flex-direction: column;
    }
    .course-item {
      width: 80%;
    }
  }
}
/*end courses*/
/*start testomonial*/
.Testimonials {
  text-align: center;
  padding: 40px 0;
}
.Testimonials h2 {
  margin-bottom: 40px;
}
.Testimonials .row {
  gap: 40px;
}
.Testimonial {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-basis: 400px;
  box-shadow: 0px 10px 8.237px 0px rgba(0, 0, 0, 0.4);
  padding: 18px 16px;
  position: relative;
  flex-grow: 1;
}
.Testimonial::after {
  content: "";
  border-top: 30px solid #e0dfdf67;
  border-right: 30px solid #e0dfdf67;
  border-bottom: 30px solid transparent;
  border-left: 30px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
}
.Testimonial .user-info {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
}
.Testimonial .user-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
}
.Testimonial .user-data {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
}
.Testimonial .user-data span {
  color: #969696;
  font-size: 10px;
  font-weight: 400;
}
.Testimonial .rating {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}
.Testimonial .rating img {
  width: 20px;
  height: 20px;
}
.Testimonial p {
  color: #646464;
}

/*end of Testimonial*/
/*start footer*/
.footer {
  background: #393e46;
  color: #fff;
  padding: 47px 0;
}
.footer a {
  color: #fff;
}
.footer .row {
  gap: 40px;
}
.footer .footer-start,
.footer .footer-end {
  width: calc((100% - 40px) / 2);
}
.footer .footer-start {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 400px;
  gap: 30px;
  flex-grow: 1;
}
.footer .footer-start .logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.footer .footer-start .logo img {
  width: 35px;
}
.footer .footer-start .logo img {
  font-size: 14px;
}
.footer .footer-start p {
  color: #fff;
  font-size: 14px;
  font-weight: 200;
}
.footer .footer-start .icons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.footer .footer-start .icons img {
  border: 1px solid #fff;
  padding: 10px;
  width: 15px;
  height: 15px;
  box-sizing: content-box;
}
.footer .footer-end {
  flex-grow: 1;
}
.footer .footer-end .row {
  justify-content: space-evenly;
  align-items: flex-start;
}
.footer .footer-end .footer-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}
.footer .footer-end .footer-item h2 {
  font-size: 15px;
}
.footer .footer-end .footer-item ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}
.footer .footer-end .footer-item ul a {
  font-size: 10px;
}
@media (max-width: 400px) {
  .footer .footer-start .icons {
    gap: 5px;
  }
  .footer .footer-start .icons img {
    border: 1px solid #fff;
    padding: 10px;
    width: 8px;
    height: 8px;
    box-sizing: content-box;
  }
  .footer-start {
    align-items: center;
    text-align: center;
  }
}
/*end of footer*/
